%h2 Reset password

= simple_form_for user, url: reset_password_user_path, method: :post do |f|
  = f.input :password, label: 'New password'
  = f.input :password_confirmation
  = f.submit 'Save', class: 'btn btn-primary'
